{% extends 'basic/items_list.html' %}
{% load i18n %}

{% block header %}
{% translate "Users" %}
{% endblock %}
{% block table_header %}
<th>ID</th>
<th>{% translate "User name" %}</th>
<th>{% translate "Full name" %}</th>
<th>{% translate "Creation date" %}</th>
{% endblock %}
{% block table_body %}
{% for user in user_list %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
        <td>
            <a href="{% url "users:update" user.id %}">{% translate "Update" %}</a>
            <br>
            <a href="{% url "users:delete" user.id %}">{% translate "Delete" %}</a>
        </td>
    </tr>
{% endfor %}
{% endblock %}