{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% translate "Task manager app" %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=True %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="/">{% translate "Task manager" %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "users:list" %}">{% translate "Users" %}</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "statuses:list" %}">{% translate "Statuses" %}</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "logout" %}">{% translate "Logout" %}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "login" %}">{% translate "Login" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "users:create" %}">{% translate "Registration" %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container wrapper flex-grow-1">
        {% bootstrap_messages %}
        <h1 class="my-4">
            {% block header %}
            {% endblock %}
        </h1>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>